.estilo{
    color: cornflowerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ingresar {
    color: blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}